@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
